<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="/stylesheets/userRegis.css">
</head>
<body>
    <div class="main">
		<h1>Create new Admin </h1>
		<div class="form1">
			<form  method="post" action="/createAdmin">
				<input type="text"  placeholder="username" name="username"><br><br>		
				<input type="password"  placeholder="password" name="password"><br><br>		
				<input type="text" id="req1" placeholder="age.." name="age"><br><br>		
				<input type="submit" value="Create Admin"><br><br>
				<a href="/adminLogin">Already a Admin</a>
			</form>
		</div>	
	</div>

</body>
</html>